
.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}
header{
    border-bottom: 1px solid black;
    margin-bottom: 80px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}
.header-logo a{
    text-decoration: none;
    color: #22202E;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 150px;
}

.header-menu{
    display: flex;
    flex-grow: 1 ;


}
.header-menu-item{
    padding-right: 44px;
    display: flex;


}
.header-menu-item a{
    text-decoration: none;
    color: #726E8D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.side-action-menu{
    display: flex;


}
.side-action-menu a{
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px;
}



.main-title{
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.select-menu{


    border: none;
    background-color: transparent;
    outline: none;
    padding: 24px;


}
.select-item{
    color: #2A254B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.select-menu-none{
    appearance: none;
    border: none;
    margin-right: 16px;
    padding: 8px;

}
.main-menu{
    display: flex;
    justify-content: space-between;
    padding: 12px 80px;

}

.product-wrapper{
display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
    row-gap: 24px;
margin-bottom: 48px;
}
.product-item{

    background-size: cover;
text-decoration: none;



}
.product-item img{
    width: 100%;
}
.item-description{
    color: #2A254B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 14px ;
}
.main-button-wrap{
    display: block;
    text-align: center;
    padding: 16px 32px;
    margin-bottom: 40px;
}
.main-button{

    border: none;
    width: 176px;
    height: 56px ;
    background-color: #F9F9F9;
    color: #2A254B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}
.sign-up-title{
    color: #2A254B;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

}
.sign-up-img{
    background-image: url("/img/join-background.jpg");
    height: 521px ;
    width: 54%;
    background-size: cover;
 background-position: bottom;
}
.sign-up-content{
    width: 50%;
    margin: 70px 40px;
}
.sign-up-section{
    display: flex;
}
.sign-up-description {
    color: #2A254B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 470px ;
    height: 48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 216px;

}
.sign-up-button{
    width: 120px ;
    height: 48px;
    color:  white;
    background-color: #2A254B;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.footer-wrap{
    background-color: #2A254B;

}
.info-section{
    display: flex;
    justify-content: space-between;
   padding: 58px 0;
    border-bottom: 1px solid #4E4D93;
}


.list-title{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px;
}
.list-item{
    color:  #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px;
}

.copyright-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}
.copyright{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social-network-list{

    display: flex;
    text-align: center;


}
.social-network-list a{
    width: 24px;
    height: 24px;
    padding-left: 24px;

}



